*{
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

main {
  color: #0000008c;
  margin-bottom: 60px;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.container-titulo {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.container-titulo h2, .container-titulo h3 {
  margin:0;
}

.container-titulo h1 {
  margin: 0;
  font-size: 50px;
}


/* Início CSS Topo */
  .topo {
    background-color: #4D4D4D;
    width: 100%;
  }
  .topo .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .topo-titulo {
    font-weight: 600;
    font-size: 28px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .topo-titulo a {
    display: flex;
  }

  .topo-logo {
    height: 60px;
  }

  .topo-links{
    display: flex;
  }
  .topo-link{
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;

  }
  .topo-link:hover {
    font-size: 22px;
  }

  .links {
    padding: 10px;
    text-decoration: none;
    color: #0000008c;
    font-weight: 600;
    font-size: 25px;
  }

  .links:hover {
    color: red;
  }
/* Fim CSS Topo */



/* Início CSS Rodapé */
  footer {
    background-color: #4D4D4D;
    color: #fff;
    padding: 20px;
  }
  footer .container {
    text-align: center;
  }

  footer .container img {
    height: 60px;
  }

  #footerDesenvolvimento{
    background-color: #4D4D4D;
    color: #fff;
    padding: 20px;
  }
/* Fim CSS Rodapé */