#sobre,
#hobbies,
#video {
  padding: 40px 20px 0;
}

.box-visao-geral {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0.7, 0.8, 0.9, 1)), url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}
.box-visao-geral-titulo{
  height: 100%;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}
.box-visao-geral h1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 38px;
  margin: 0;
}

.box-sobre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-sobre h3 {
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 25px;
}
.box-sobre img {
  height: 250px;
  border-radius: 50%;
}

.box-hobbies {
  display: flex;
  flex-wrap: wrap;
}
.box-hobbie{
  border-radius: 3px;
  box-shadow: 0px 1px 10px rgb(0 0 0 / 50%);
  margin: 20px;
  width: calc(100% / 3 - 40px);
}
.box-hobbie img {
  width: 100%;
}
.box-hobbie figcaption {
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}
video {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 240px;
  margin: auto;
}

.box-fatec {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-fatec h3 {
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 25px;
}
.box-fatec img {
  height: 250px;
}

@media (max-width: 1024px) {
  .box-visao-geral { height: 400px;}
}

@media (max-width: 768px) {
  .box-visao-geral { height: 300px;}
  .box-sobre img { display: none;}
  .box-hobbies {justify-content: center;}
  .box-hobbie {
    width: calc(100% / 2 - 40px);
  }
  .container-titulo h1 {
    font-size: 25px;
  }
  .container-titulo a {
    font-size: 15px;
  }
}

@media (max-width: 425px) {
  .box-visao-geral { height: 200px;}
  .box-visao-geral h1 { font-size: 28px;}
  .box-hobbie {
    width: 100%;
  }
  .container-titulo h1 {
    font-size: 20px;
  }
}

